*, *:before, *:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald"
}
body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: rgba(204, 204, 204,0.3);
}

/* Nav bar with list social media icon */

.list-items {
    height: 40px;
    background-color: black;
    color: white;
}

.items__icon {
    color: white;
    padding: 10px;
    float: left;
    padding: 8px 16px;
    outline : 0;
    display: block;
}

.items__button{
    display: block;
}

.items__button:hover{
    color: #ccc;
    background-color: #000;
}


.items--right{
    float: right !important;
}

/* Header Intro */

.content{
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1600px;
    padding: 48px 16px;
    background-color: #fff;   
    text-align: center;
}

.container h1{
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.container h6{
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

header h6 span {
    padding: 0 8px;
    color: white;
    background-color: black;
}


/* Header-Img */

.container-img{
    position: relative;
}


.header-img {
    max-width: 100%;
    height: auto;
}

.header-div{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    color: white;
    margin: 20px;
}

.container-img .header-div h1,
.container-img .header-div h3{
    font-size: 36px;
    margin: 10px 0;
    letter-spacing: 4px;
}

.container-img .header-div .text-special{
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

.container-img .header-div h2 button{
    padding: 12px 24px;
    color: #000;
    background-color: white;
    font-size: 18px;
    font-family: Oswald;
    opacity: 0.6;
    cursor: pointer;
}

/* End Header-img */


/* Grid */

.container-grid{
    display: grid;
    box-sizing: border-box;
    padding: 8px 16px;
    grid-template-columns: 66.66% 33.33%;
}






/* @media (min-width: 993px){
    .container-blog {
    width: 66.66%!important;
}}

@media (min-width: 993px){
    .blog-about {
    width: 33.33%!important;
}} */

.container-blog{
    margin: 16px;
    float: left;
    box-sizing: border-box;
}

.blog-about {
    float: left;
}

.container-entry {
    padding: 12px 24px;
    background-color: #fff;
}
.entry-title{
    text-align: center;
}

.entry-title h3 {
    font-size: 24px !important;
}

.entry-title h5 {
    font-size: 18px !important;
}

.entry-title h3,
.entry-title h5 {
    margin: 10px 0;
    font-weight: 400;
}

.entry-title span{
    opacity: 0.6;
}

.entry-content img {
    width: 100%;
    padding: 16px 0;
}

.entry-content p {
    text-align: justify;
}

.entry-content p button.btn-entry-left{
    float: left;
    border: 1px solid #ccc;
    padding: 8px 16px;
    background-color: #fff;
    font-size: 15px;
}

.entry-content p button.btn-entry-right{
    float: right;
    padding: 8px 16px;
    background-color: #000;
    color: white;
    font-size: 15px;
}
.entry-content p button.btn-entry-right span{
    background-color: #fff;
    color: #000;
    padding: 0 8px;
}
.entry-content p::after{
    content: "";
    display: table;
    clear: both;
}

.entry-comment {
    margin-bottom: 16px;
    text-align: justify !important;
}

.entry-comment:before, 
.entry-comment:after {
    content: "";
    display: table;
    clear: both;
}
.entry-comment .avt-cmt {
    width: 20%;
    float: left;
}
.entry-comment hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    opacity: 0.6;
}
.entry-comment .avt-cmt img{
    width: 90px;
}
.entry-comment .content-cmt {
    float: left;
    text-align: justify;
}
.entry-comment .content-cmt h4 {
    margin: 25px 0;
    font-size: 20px;
}
.entry-comment .content-cmt h4 span{
    font-size: 15px;
    opacity: 0.6;
}
.entry-comment .content-cmt p{
    margin: 15px 0;
    font-size: 15px;
}

/* End Blog Entries */

/* About page */

.card,
.posts,
.advertise,
.tags,
.inspiration,
.follow,
.subscribe{
    margin : 16px;
}




.card img{
    width : 100%;
    vertical-align: middle;
}

.card .card-content{
    padding: 0.01em 16px;
    background-color: #000;
    color: #fff;
}

.posts .posts-header {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}
.posts .posts-header h4{
   font-size: 20px;
   margin: 10px 0;
}

.posts ul{
    margin: 0;
    padding: 0;
    color : #000;
    background-color: #fff;
}

.posts ul li{
    list-style: none;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.posts ul li img{
    height:auto;
    margin-right: 16px;
    float: left;
    width: 50px;
}

.posts ul li span.large-font{
    font-size: 20px;
}


.advertise .advertise-header {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

.advertise .advertise-header h4{
    font-size: 20px;
    margin: 10px 0;
}

.advertise .ads-content::before {
    content: "";
    display: table;
    clear: both;
}
.advertise .ads-content {
    padding: 0.01em 16px;
   background-color: #fff;
}

.advertise .ads-content .content {
    background-color: #f1f1f1!important;
    height: 200px;
    padding: 0.01em 16px;
    margin: 16px 0px;
    color: #000;
    position: relative;
}
.advertise .ads-content .content span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
}


.tags .tags-header {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

.tags .tags-header h4{
    font-size: 20px;
    margin: 10px 0;
}

.tags .tags-content::before {
    content: "";
    display: table;
    clear: both;
}
.tags .tags-content {
    padding: 0.01em 16px;
   background-color: #fff;
   color: #000;
}

.tags .tags-content p span{
    color: #000!important;
    margin-bottom: 16px!important;
    font-size: 12px;
    background-color: #f1f1f1!important;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.tags .tags-content p span.special{
    display: inline-block;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    color: #fff!important;
    background-color: #000!important;
}




.inspiration .inspiration-header {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

.inspiration .inspiration-header h4{
    font-size: 20px;
    margin: 10px 0;
}

.inspiration .inspiration-content::before {
    content: "";
    display: table;
    clear: both;
}
/* .inspiration .inspiration-content {
    padding: 0 8px;
    background-color: #fff;
    color: #000;
}
.inspiration .inspiration-content .col{
    padding: 0 8px;
    width: 49.99%;
    float: left;
}
.inspiration .inspiration-content .col p img{
    width: 100%;
} */

.inspiration .inspiration-content .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    background-color: #fff;
}
.inspiration .inspiration-content .col img{
    width: 100%;
    gap: 10%;
}


.follow .follow-header {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

.follow .follow-header h4{
    font-size: 20px;
    margin: 10px 0;
}

.follow .follow-content::before {
    content: "";
    display: table;
    clear: both;
}

.follow .follow-content {
    padding: 16px 16px;
    background-color: #fff;
    color: #000;
}

.follow .follow-content i {
    font-size: 24px!important;
}


.subscribe .subscribe-header {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

.subscribe .subscribe-header h4{
    font-size: 20px;
    margin: 10px 0;
}

.subscribe .subscribe-content::before {
    content: "";
    display: table;
    clear: both;
}

.subscribe .subscribe-content {
    padding: 8px 16px;
    background-color: #fff;
    color: #000;
}

.subscribe .subscribe-content .content-main{
    padding: 0.01em 16px;
}

.subscribe .subscribe-content input {
    border: 1px solid #ccc;
    overflow: visible;
    padding: 8px;
    display: block;
}
.subscribe .subscribe-content button {
    color: #fff!important;
    background-color: #f44336!important;
    width : 100%;
    padding: 8px;
}


/* Footer */

footer{
    color: #fff!important;
    background-color: #616161!important;
    padding: 32px;
}

footer a{
    text-decoration: none;
}
footer a i{
    margin: 8px 8px 8px 0;
}

footer> a {
    color: #fff!important;
    background-color: #000!important;
    padding: 12px 24px 12px 8px;
    margin-bottom: 16px;
}

footer p{
    padding: 8px 0;
}

footer p a{
    color: #fff;
    cursor: pointer;
}



